<h1>{{name}}</h1>
<form class="form-group">
  <label for="text">Name:</label>
  <input type="text" class="form-control" placeholder="Enter account name" ng-model="newAcc.name"><br>
  <label for="text">Card:</label>
  <input type="text" class="form-control" placeholder="Enter type of card" ng-model="newAcc.card"><br>
  <label for="text">Deposit:</label>
  <input type="text" class="form-control" placeholder="Enter account deposit" ng-model="newAcc.deposit"><br>
  <a href="#/" class="btn btn-primary pull-right" ng-click="addAcc()">Add new account</a>

</form>
